@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #2d2d2d;
  color: white;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  padding-top: 10px;
}
.container h1 {
  padding-bottom: 20px;
}
.bar_container {
  background-color: #373737;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 9px;
  padding: 18px 15px;
  margin-top: 20px;
}
.circle_icon {
  font-size: 35px;
  background-color: #6d3e48;
  border-radius: 50%;
  fill: #ac6273;
}
.check_icon {
  fill: #5e8568;
  background-color: #435d48;
}
.yellow {
  fill: #9c8956;
  border: 1px solid #9c8956;
  background-color: #6c5a42;
}
.green {
  fill: #347e5c;
  border: 1px solid #347e5c;
  background-color: #285943;
}
.hide {
  color: #4c5187;
}
.time_in_min:first-child {
  display: flex;
  justify-content: right;
  padding-bottom: 6px;
}
.close_icon,
.play_icon {
  font-size: 35px;
  color: hsl(0deg 0% 33%);
  background-color: #373737;
}
.change_color {
  color: #8c505d;
}
.play_icon {
  border: 2px solid #737bff;
  border-radius: 50%;
  background-color: #737bff;
}
.bar_name h3 {
  padding-bottom: 6px;
}
.bar_component {
  margin-bottom: 30px !important;
}
.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #373737;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-top: 2px solid #444444;
  position: absolute;
  left: 0;
}
.footer div {
  font-size: 30px;
  color: #5f5f5f;
  padding: 20px 20px;
}
.outer_boder_bar {
  background-color: #2d2d2d;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0% auto;
  border: 2px solid red;
}
.inner_border_bar {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  font-size: 30px;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1),
    inset -5px -5px 20px #2d2d2d;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.stop_btn,
.pause_btn {
  border: none;
  padding: 13px 40px;
  font-size: 16px;
  border-radius: 5px;
  color: white;
  background-color: #373a4d;
  cursor: pointer;
}
.pause_btn {
  margin-left: 10px;
  background-color: #6d7bfe;
}
.slider_bar_card {
  display: flex !important;
  background-color: #373737;
  justify-content: space-between;
  width: 95% !important;
  padding: 20px 20px;
  border-radius: 8px;
  margin-right: 30px !important;
}
.slider_bar_card div {
  display: flex;
  align-items: center;
}
.slider_bar_card div h2 {
  padding-right: 10px;
  font-size: 33px;
}
.slider_bar_card div p {
  font-size: 15px;
  color: hsl(0deg 3% 54%);
  font-weight: bold;
}

.slick-prev,
.slick-next {
  display: none !important;
}

.new_task_btn {
  width: 94%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #6d7bfe;
  color: white;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 6px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  margin: 0% auto;
  cursor: pointer;
}
.plus {
  font-size: 20px;
  font-weight: bold;
}
